@import url('https://fonts.cdnfonts.com/css/asket-condensed');

body {
  margin: 0;
  font-family: 'Asket Condensed', sans-serif !important;
  /* font-family: 'Asket Extended', sans-serif;
  font-family: 'Asket Narrow', sans-serif;
  font-family: 'Asket', sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
